.container {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin: 10px;
}
input{
    margin-left: 0;
}
@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    .input-group {
        margin: 10px;
    }
    input{
        margin-left: 5px;
    }
}
